.section-title2
{
    color: white;
    text-align: center;
     font-size: 45px;
}

body {
    background-image: url("../images/SB.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}

.section-title {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
    color: red;
}

.shop{
    margin-top: 2rem;
}

.shop-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px 20px;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
}
    
.product-box {
    padding: 2rem;
    background: rgb(92, 91, 91);
    box-shadow: 0.5rem 1rem;
    border: .1rem solid;
    text-align: center;
    flex: 1 1 30rem;
    position: relative;
    border-radius: 50px;
}
.product-box img {
    border-radius: 50px;
}

.product-box:hover{
    padding: 10px;
    border: 1px solid var(--text-color);
}

.product-img {
    width: 100%;
    height: 300px;
    margin-bottom: 0.5rem;
    object-fit: cover;
    transition: 0.2s ease;
}

.product-img:hover{
    transform: scale(0.8);
}

.product-title {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: pristina;
    margin-bottom: 0.5rem;
}

.product-box button {
    padding: 5px 30px;
    border:  none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    transition: 0.2s all;
}

.product-box button:hover{
    transform: scale(1.08);
}

@media screen and (max-width:1000px) {
    .shop-content{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:768px) {
    .shop-content{
        grid-template-columns: repeat(1, 1fr);
    }
}


 